<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        
        <h1>Analyze Flights By Day & Hour (Past 6-7 Days)</h1>
        
        <div>
            <img src="{{ url_for('static', filename='day_plot.png') }}", alt="Flights by Day", width=50%, height=50%>
            <img src="{{ url_for('static', filename='hour_plot.png') }}", alt="Flights by Hour", width=50%, height=50%>
        </div>

        <a href="{{ url_for('home') }}">
            <button>Home</button>
        </a>
    </body>
</html>