<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <div>
            <h1>SFO Airport Flight Analysis</h1>
            <p>This is an Airport analysis project where we analyze the number of flights that depart from the SFO aiport.</p>
            <a href="{{ url_for('graphs') }}">
                <button>View Day & Time Analysis</button>
            </a>
            <a href="{{ url_for('selected_day') }}">
                <button>View Analysis for Selected Day</button>
            </a>
        </div>
    </body>
</html>